<h2>Tickets</h2>
Fonctionnalités :  ( ajouter, filtrer, attribuer et compléter)
<br>

<button mat-raised-button (click)="addColumn()"> Add column</button>
<div>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <tr matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> Id.</th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </tr>
        <tr matColumnDef="completed">
            <th mat-header-cell *matHeaderCellDef> Completed</th>
            <td mat-cell *matCellDef="let element"> {{element.completed}} </td>
        </tr>
        <tr matColumnDef="assigneeId">
            <th mat-header-cell *matHeaderCellDef> Assignee to</th>
            <td mat-cell *matCellDef="let element">
                <app-assignee-selection
                        [users]="users"
                        [assigneeId]="element.assigneeId"
                ></app-assignee-selection>
            </td>
        </tr>
        <tr matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef> Description</th>
            <td mat-cell *matCellDef="let element"> {{element.description}} </td>
        </tr>
        <tr matColumnDef="update">
            <th mat-header-cell *matHeaderCellDef> Update</th>
            <td mat-cell *matCellDef="let element">
                <button mat-raised-button (click)="upldate(element.id)">Update {{element.id}}  </button>
            </td>
        </tr>
        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
    </table>
</div>